@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color-default: #262625;
    --bg-color-default: #F3F3F1;
    --pink-default: #F588B9;
}

@font-face {
    font-family: "Inter";
    src: url("assets/font/Inter.ttf") format("opentype");
}

::selection {
    color: var(--bg-color-default);
    background-color: var(--pink-default);
}

html,
body {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    font-family: "Inter", Arial, sans-serif;
    position: relative;
    background-color: var(--bg-color-default);
    color: var(--text-color-default);
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    outline: none;
    list-style: none;
    border: none;
    background: none;
    color: unset;
    margin: 0;
    padding: 0;
}

.icon {
    display: block;
    width: 1em;
    height: 1em;
    font-style: normal;
    user-select: none;
}

.icon svg {
    width: 100%;
    height: 100%;
}

/* customs */

header {
    position: sticky;
    top: 0;
}

.header-title {
    transition: .345s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-title:hover {
    transform: rotate(0) translate(0, 0px);
}

.header-scroll-indicator {
    width: var(--wp);
}

#toggle:checked + label .toggle-dot {
    transform: translate(140%);
}

#toggle:checked + label .toggle-dot svg {
    transform: rotate(360deg);
}

.max-width-title {
    font-size: min(80px, 20vw);
    padding: 0 0.5rem;
    width: fit-content;
}

.max-width-title .icon {
    position: absolute;
    right: 1rem;
    top: -1rem;
    font-size: 1.3em;
}

.user-cursor-tip {
    width: fit-content;
    color: white;
    outline: 2px solid rgba(0, 0, 0, 0.15);
    outline-offset: -2px;
    border-radius: 9rem 0 9rem 9rem;
    padding: 4px 0.75rem;
    font-size: 0.75rem;
    line-height: 20px;
    position: absolute;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.15));
    font-style: normal;
}

.user-cursor-tip svg {
    position: absolute;
    top: -0.8rem;
}

.user-cursor-tip.orange {
    border-radius: 0rem 9rem 9rem 9rem;
    background: #F28164;
    left: 76%;
    top: 58%;
}

.user-cursor-tip.orange svg {
    left: -0.8rem;
}

.user-cursor-tip.pink {
    background: #F588B9;

    left: -16%;
    top: 80%;
}

.user-cursor-tip.pink svg {
    right: -0.8rem;
    transform: rotateY(180deg);
}

.user-cursor-tip.blue {
    background: #6B93C0;
    border-radius: 0rem 9rem 9rem 9rem;
    left: 71%;
    top: 88%;
}

.user-cursor-tip.blue svg {
    left: -0.8rem;
}

.user-cursor-tip.blue {
    animation: moveUCB 7s infinite 2s;
    transition: transform 0.1s ease-in-out;
}

@keyframes moveUCB {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-5rem, -0.5rem);
    }

    50% {
        transform: translate(-1rem, 2rem);
    }

    75% {
        transform: translate(3rem, 0.5rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

.user-cursor-tip.pink {
    animation: moveUCP 8s infinite 2s;
    transition: transform 0.1s ease-in-out;
}

@keyframes moveUCP {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(3rem, 0.5rem);
    }
    
    50% {
        transform: translate(-1rem, 2rem);
    }
    
    75% {
        transform: translate(-5rem, -0.5rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

.user-cursor-tip.orange {
    animation: moveUCO 6s infinite 5s;
    transition: transform 0.1s ease-in-out;
}

@keyframes moveUCO {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(3rem, -2rem);
    }
    
    100% {
        transform: translate(0, 0);
    }
}

.user-cursor-tip.card {
    border-radius: 0rem 9rem 9rem 9rem;
    animation: moveUCR var(--at) infinite var(--ad);
    transition: transform 0.1s ease-in-out;
    z-index: 20;
    opacity: 0.5;
}

@keyframes moveUCR {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(var(--tx1), var(--ty1));
    }

    50% {
        transform: translate(var(--tx2), var(--ty2));
    }
    
    100% {
        transform: translate(0, 0);
    }
}

.user-cursor-tip.card svg {
    left: -0.8rem;
}

.scroll-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scroll-container::-webkit-scrollbar { /* WebKit */
    display: none;
}

/* RESPONSIVE */

.card-container img {
    width: 100%;
}

@media screen and (min-width: 1020px) {
    html, body {
        font-size: 18px;
    }

    .card-container img {
        float: inline-start;
        margin-right: 1.25rem;
        max-width: 600px;
    }

    .card-container .bubble-bottom {
        transform: scale(2);
        right: 1.5rem;
        bottom: 3.3rem;
    }

    .card-container div > p:first-child {
        margin-top: 5rem;
    }

    .footer-card {
        min-height: 100dvh;
        display: grid;
        place-items: center;
    }

    .footer-card > div {
        width: 100%;
    }

    .footer-card h4 {
        font-size: 8.5vw;
        line-height: 8.5vw;
    }

    .footer-card .smile {
        left: 75% !important;
        top: 53% !important;
    }

    .hero-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        place-items: center;
    }

    .hero-section h1 { 
        grid-area: 1 / 1 / 2 / 2; 
        width: max-content;
        margin-left: 2rem;
        font-size: 7vw;
    }
    
    .hero-section h1 br:first-child {
        display: none;
    }

    .hero-section h1 br + i {
        margin-left: 7rem;
    }

    .max-width-title .icon {
        left: 0.35em;
        bottom: 0.2em;
        top: unset;
        right: unset;
        font-size: 0.8em;
    }

    .hero-section .illustration { grid-area: 1 / 2 / 2 / 3; }
    .hero-section .scroll-container { grid-area: 2 / 1 / 3 / 3; } 
}

@media screen and (min-width: 1350px) {
    .card-container img {
        max-width: 860px;
    }
}

.animate-stasis {
    --sa: 6%;
    animation: stasis 1.3s infinite alternate ease-out;
}

@keyframes stasis {
    0% {
        transform: translate(0, 0);
    }
    
    100% {
        transform: translate(0, var(--sa));
    }
}

.footer-card button:hover > div:nth-child(2) {
    transform: translate(-200%, 50%);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) .4s;
}

.footer-card button:hover > div:nth-child(3) {
    transform: translate(0, -50%) rotate(360deg);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) .5s;
}